*{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,p,div,ul,ol,dl,i,em,strong,b,form{font-size:12px;font-family:'Microsoft Yahei'}
ul,ol,dl{list-style:none;}
a{text-decoration:none;color:#000;}


input,textarea{outline:none;resize:none;}
.fl{float:left;}
.fr{float:right;}

.clearFix:after{display:block;content:'';clear:both;zoom:1;}
html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
