{include header.html}
	<body>
		
		<div id="Wrapper" class="clearFix">
			<div class="Logobar fr" style="margin-right:400px">
			<a href="{#WEB_SITE}/index.php" name="top" title="Alliance">
				<img src="{#DOMAIN_RESOURCE}/imgs/logo.png" border="0" align="default" alt="Alliance" width="200" height="65" />
			</a>
		</div>	
		{if !empty($result[0])}
				<div class="sep20"></div>        
				<div class="box fl clearFix" style="width:400px ">
					<div class="cell fl" style="width:300px">
						<strong>{$result[0]['username']}</strong>&nbsp;&nbsp;的个人信息
					</div>						
					

					
						<div class="cell fl" style="width:300px">
							<span class="item_title">头像</span>
							<div class="sep10"></div>
							
							<img src="{$result[0]['hicon']}" border="0" align="default" alt="用户头像" width="100" height="100"/>
						</div>
						<div class="cell fl" style="width:300px">
							<span class="item_title">我的签名</span>
							<div class="sep10"></div>
							<span>{$result[0]['gragh']}</span>
						</div>
						<div class="cell fl" style="width:300px">
							<span class="item_title">我的信息</span>
							<div class="sep10"></div>
							<span>{$result[0]['info']}</span>
						</div>
						<div class="cell fl" style="width:300px">
							<span class="item_title">我的email</span>
							<div class="sep10"></div>
							<span>{$result[0]['email']}</span>
						</div>


{else}
					<div class="box fl">
						<span></span>
						没有找到用户
					</div>						
{/if}


							</div>	
						</div>
				</div>           
						
			</div>		
		</div>
	</body>
</html>