{include header.html}
<body class="clearFix">
    <div class="Top">
        <div class="content">
            <div style="padding-top: 6px;" class="clearFix">
                <div class="top_logo_box fl ">   
                    <a href="{#WEB_SITE}/index.php" name="top" title="Alliance">
                        <img src="{#DOMAIN_RESOURCE}/imgs/logo.png" border="0" align="default" alt="Alliance" width="94" height="30" />
                    </a>
                </div> 
				
<!--    搜索框    -->
                <div class="search fl">
					<form onsubmit="return dispatch()">
						<div class="search_bar"> 
							<input type="text" maxlength="40" name="q" id="q" value="" />
						</div>
					</form>
				</div>
<!--    头部操作链接  -->          
                <div class="top_login_box fr">
                    <a href="{#WEB_SITE}/index.php" class="top">首页</a>
                    {if !empty($_COOKIE['username'])}
                    欢迎你&nbsp;&nbsp;<span class="item_title">{$_COOKIE['username']}</span>&nbsp;&nbsp;
                    <a href="{#WEB_SITE}/settings.php" class="top">设置</a>
                    <a href="{#WEB_SITE}/logout.php" class="top">退出</a>
                    
                    {else}
                    <a href="{#WEB_SITE}/signup.php" class="top">注册</a>
                    <a href="{#WEB_SITE}/signin.php" class="top">登录</a>
                    {/if}
                    
                </div>      
            </div>
        </div>
    </div>
    <div id="Wrapper">
        <form method="post" action="{#WEB_SITE}/new.php" id="topic_form">
        <div class="content">           
            <div id="Leftbar"></div>
            <div id="Rightbar">
            <div class="sep20"></div>           

<!-- 节点遍历与选择 -->			 
				<div class="box">
					<div class="header"> &nbsp;›&nbsp; 请选择一个节点：
						<select name="node_name" style="width: 300px; font-size: 14px; " >
    						<option value="qna">问与答</option>
    						<option value="php">php</option>
    						<option value="server">服务器</option>
    						<option value="random">随想</option>
    						<option value="reading">阅读</option>
						</select>
					</div>					
				</div>
            </div>
            <div id="Main">
                <div class="sep20"></div>
                    
                <div class="box" id="box">
                    <div class="header"> &nbsp;›&nbsp; 创建新主题</div>               
<!-- TEXTAREA -->  
                    <div class="cell">
                        
                		<div class="post_div">
                                <textarea class="mle" rows="1" name="title" id="topic_title" autofocus="autofocus" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空"></textarea>
                				<div class="sep20"></div>
                                <textarea class="mle" rows="10" name="content" id="topic_content" placeholder="正文"></textarea>
                				<div class="sep20"></div>       				
                				<div class="sep20"></div>
                                <div class="fl">
                                    <div class="fl" style="width:125px"> 
                                        <input type="text" maxlength="40" name="check_img" id="QAQ" placeholder="验证码" class="fl" style="width:100px"/>
                                    </div>      
                                    <img src="{#WEB_SITE}/code.php" class="fr" style="margin-top:2px"/>
                                    <a href="" class="fr" style="margin-top:10px">看不清？</a>
                                 </div>
                                <div class="fr">            					
                					<span class="editor_syntax_label_left">支持（推荐）使用文本标记语法&nbsp;&nbsp;Markdown
                                    </span>
                					<span style="clean: both;"></span>
                				</div>
                				<input type="hidden" value="2" name="once" />
                				<button type="submit"  class="super normal button">&nbsp;创建</button>
                        </div>
<!-- TEXTAREA END -->  
                    </div>               
                </div>
            </div>          
        </div>
        </form>


        <div class="c"></div>
        <div class="sep20"></div>
    </div>
    <div id="Bottom">
        <div class="content">
            <div class="inner">
                <div class="sep10"></div>
                    <div class="fr">
                   
                    </div>
                    
                    <div class="sep20"></div>
                    创意工作者们的社区
                    <div class="sep5"></div>
                    <div class="sep20"></div>                 
                    <div class="sep20"></div>
                    
                <div class="sep10"></div>
            </div>
        </div>
    </div>
 
    
</body>
</html>