{include header.html}
{section} $Parsedown = new Parsedown();{/section}
<body class="clearFix">
    <div class="Top">
        <div class="content">
            <div style="padding-top: 6px;" class="clearFix">
                <div class="top_logo_box fl ">   
                    <a href="{#WEB_SITE}/index.php" name="top" title="Alliance">
                        <img src="{#DOMAIN_RESOURCE}/imgs/logo.png" border="0" align="default" alt="Alliance" width="94" height="30" />
                    </a>
                </div>   
<!--    搜索框    -->                 
                <div class="search fl">
					<form onsubmit="return dispatch()">
						<div class="search_bar"> 
							<input type="text" maxlength="40" name="q" id="q" value="" />
						</div>
					</form>
				</div>
<!--         SEARCH BAR END            -->                     
                <div class="top_login_box fr">
                    <a href="{#WEB_SITE}/index.php" class="top">首页</a>
					{if !empty($_COOKIE['username'])}
					欢迎你&nbsp;&nbsp;<span class="item_title">{$_COOKIE['username']}</span>&nbsp;&nbsp;
					<a href="{#WEB_SITE}/settings.php" class="top">设置</a>
                    <a href="{#WEB_SITE}/logout.php" class="top">退出</a>
					
					{else}
                    <a href="{#WEB_SITE}/signup.php" class="top">注册</a>
                    <a href="{#WEB_SITE}/signin.php" class="top">登录</a>
					{/if}
					
                </div>   
            </div>
        </div>
    </div>
	
    <div id="Wrapper" class="clearFix">
	<div class="sep20 "></div>
	<div class="content">	
	<div class="Main_list fl clearFix ">
        <div class="box fl clearFix" style="border-bottom: 0px;">
		<div class="header fl clearFix">
			<div class="fr clearFix">
				<a href="{#WEB_SITE}/member/yyyyyyyhb">
					<img src="{$row_post['hicon']}" class="avatar fr" border="0" align="default" />
				</a>
			</div>
			<span class="chevron">&nbsp;›&nbsp;</span> 
			<a href="{#WEB_SITE}/go/{$row_post['nodename']}">{$row_post['nodename']}</a>
			<div class="sep10"></div>
			<h1>{$row_post['title']}</h1>


<!--         CLICK NUM & POST TIME            -->			
			<small class="gray">
				<a href="{#WEB_SITE}/member/{$row_post['username']}">{$row_post['username']}</a> · {section} echo date('Y-m-d,H:i:s' , $row_post['ctime']){/section} 发布 · {$row_post['ccount']} 次点击 &nbsp; 
			</small>
		</div>
		<div class="sep20 "></div>    
    
    
    
    <div class="cell fl clearFix">
        
        <div class="topic_content">{section} echo $Parsedown->text($row_post['content']);{/section}</div>
        
    </div>
    
    
    <div class="topic_buttons fl clearFix">
<!--         CLICK NUM           -->
		<div class="fr gray f11" style="line-height: 12px; padding-top: 3px; text-shadow: 0px 1px 0px #fff;">{$row_post['ccount']} 次点击 &nbsp;
		</div>
		 &nbsp;&nbsp;
		<a href="#;"  class="tb">忽略主题</a> &nbsp;
	
	</div>
	
</div>

<!--        MAIN KEY            -->
<div class="box fl clearFix">
    <div class="cell clearFix">
		<div class="fr" style="margin: -3px -5px 0px 0px;">
			<a href="{#WEB_SITE}/tag/重启" class="tag">重启</a>
			<a href="{#WEB_SITE}/tag/Windows" class="tag">Windows</a>
			<a href="{#WEB_SITE}/tag/BIOS" class="tag">BIOS</a>
			<a href="{#WEB_SITE}/tag/AMD" class="tag">AMD</a>
		</div>

<!--主题最后回复时间-->
		{section} if (!empty($data)):
		$last = array_slice($data, -1);
		$last_time = $last[0]['ctime']{/section}

        
<!--         RECEIVE COUNT            -->
		<span class="gray">{$rcount[0]['count(pid)']} 回复 &nbsp;
			<strong class="snow">|</strong> &nbsp;直到 {section} echo date('Y-m-d H:i:s' , $last_time){/section} +08:00
		</span>
    </div>
    

    <!--         回复列表            -->
    	{foreach $data as $key => $value}
        <div id="" class="cell fl clearFix">   		
			<img src="{$value['hicon']}" class="avatar" border="0" align="default" />
			<div class="reply_text fr clearFix ">
				<div class="fr clearFix">
						 
					<a href="#;" onclick="replyOne('EchoChan');">
						<img src="{#DOMAIN_RESOURCE}/imgs/reply.png" align="absmiddle" border="0" alt="Reply" />
					</a> &nbsp;&nbsp; 
					<span class="no">{$key+1}</span>
				</div>				
				<strong class="fl clearFix">
					<a href="{#WEB_SITE}/member/{$value['username']}" class="dark">{$value['username']}&nbsp; &nbsp;</a>
				</strong>
				<span class="fl fade small">{section} echo date('Y-m-d,H:i:s' ,$value['ctime']){/section}</span> 
				<div class="sep5"></div>
				<div class="reply_content fl">{section} echo $Parsedown->text($value['content']);{/section}</div>				
			</div>		
        </div>
    	{/foreach}
    	{if $rcount[0]['count(pid)'] >10}
    		<div class="cell fl">
               	{section} echo getSelfPageView($nowPage, $totalPage, $baseUrl, $search){/section}
            </div>
        {/if}
    {else}
    	<span class="gray">0 回复 &nbsp;
			
		</span>
	</div>
    	<div  class="cell fl clearFix">当前主题没有回复呢~</div>
{/if}

    <!--         回复列表 END           -->
</div>
		<div class="box fl clearFix">

<!--         RECEIVE TEXTAREA            -->
		{if empty($_COOKIE['username'])}
			<div class="cell">
				<div class="fr">
					<a href="#" onclick="goTop()"><strong>↑</strong> 回到顶部</a>
				</div>
		{section} echo '尚未登录，不能发表回复，请<a href="{#WEB_SITE}/html/signin.html">登录</a>'{/section}
			</div>
		
		
		{else}
			<div class="cell">
				<div class="fr">
					<a href="#" onclick="goTop()"><strong>↑</strong> 回到顶部</a>
				</div>
				添加一条新回复
			</div>
			<div class="cell">
				<form method="post" action="{#WEB_SITE}/reply.php">
					<textarea name="content" maxlength="10000" class="mll" id="reply_content"></textarea>
					<div class="sep10"></div>
					<div class="fr">
						<div class="sep5"></div>
						<span class="gray">&nbsp;&nbsp;ATTENTION!!&nbsp;&nbsp;&nbsp;本站每次回复扣除&nbsp;&nbsp;5&nbsp;&nbsp;铜币，请尽量让自己的回复能够对别人有帮助</span>
					</div>
					<input type="hidden" value="{$postid}" name="once" />
					<input type="hidden" value="{$rcount[0]['count(pid)']+1}" name="rcount" />
					<input type="submit" value="回复" class="super normal button" />
				</form>
			</div>
		{/if}
<!--         RECEIVE TEXTAREA END            -->

			<div class="inner">
				<div class="fr"><a href="{#WEB_SITE}/index.php">← Alliance</a></div>
				&nbsp;
			</div>
		</div>
</div>
 
            <!--Rightbar-->
            <div class="Rightbar fr">
             
                <div class="box">
                    <div class="cell">
                        <strong>ALLiANCE</strong>
                        <div class="sep5"></div>
                        <span class="fade">ALLiANCE 是一个关于分享和探索的地方</span>
                    </div>
<!--         RIGHTBAR ADMIN           -->
                    {if !empty($_COOKIE['username']) && $_COOKIE['usergrant']==7}
					<div class="inner fl">
						<a href="{#WEB_SITE}/admin/admin_site.html" class="super normal button">走，进入总控制台</a>
					</div>
					<div class="cell fl">
						<a href="{#WEB_SITE}/new.php"><img src="{#DOMAIN_RESOURCE}/imgs/compose.png" width="32" height="32" border="0"/><span class="item_title">来来，让我发表一个主题</span></a>
					</div>
					<div class="cell fl clearFix">
						<div class="fl" id="money">
						我的钱包：
							<a href="{#WEB_SITE}/balance.html" class="balance_area" style="">
								{$_SESSION['coin_gold']} <img src="{#DOMAIN_RESOURCE}/imgs/gold.png" alt="G" align="absmiddle" border="0" />
								{$_SESSION['coin_silver']}<img src="{#DOMAIN_RESOURCE}/imgs/silver.png" alt="S" align="absmiddle" border="0" style="padding-bottom: 2px;" /> 
								{$_SESSION['coin_bronze']} <img src="{#DOMAIN_RESOURCE}/imgs/bronze.png" alt="B" align="absmiddle" border="0" />
							</a>
						</div>
					</div>
					 
					{elseif (!empty($_COOKIE['username']))}
<!--         RIGHTBAR NORMAL            -->					
					<div class="cell fl">
						<a href="{#WEB_SITE}/new.php"><img src="{#DOMAIN_RESOURCE}/imgs/compose.png" width="32" height="32" border="0"/><span class="item_title">来来，让我发表一个主题</span></a>
					</div>
					<div class="cell fl clearFix">
						<div class="fl" id="money">
						我的钱包：
							<a href="{#WEB_SITE}/balance.html" class="balance_area" style="">
								{$_SESSION['coin_gold']} <img src="{#DOMAIN_RESOURCE}/imgs/gold.png" alt="G" align="absmiddle" border="0" />
								{$_SESSION['coin_silver']} <img src="{#DOMAIN_RESOURCE}/imgs/silver.png" alt="S" align="absmiddle" border="0" style="padding-bottom: 2px;" /> 
								{$_SESSION['coin_bronze']} <img src="{#DOMAIN_RESOURCE}/imgs/bronze.png" alt="B" align="absmiddle" border="0" />
							</a>
						</div>
					</div>
					
					{else}
<!--         RIGHTBAR UNLOGIN            -->					
                    <div class="inner">
                        <div class="sep5"></div>			
                        <div align="center">				
                            <div class="sep5"></div>
                            <div class="sep10"></div>
							<a href="{#WEB_SITE}/signup.html" class="super normal button">现在注册</a>
                            <div class="sep5"></div>
                            <div class="sep10"></div>
                            已注册用户请 &nbsp;<a href="{#WEB_SITE}/signin.html">登录</a>
                        </div>
                    </div>
					
					{/if}
                </div>
<!--         RIGHTBAR END           -->
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell">
                        <div class="fr"></div>
                        <span class="fade">节点</span>
                    </div>
                    <div class="cell">
                        <a href="{#WEB_SITE}/go/qna" class="item_node">问与答</a>
                        <a href="{#WEB_SITE}/go/share" class="item_node">分享发现</a>
                        <a href="{#WEB_SITE}/go/jobs" class="item_node">酷工作</a>
                    </div>
                </div>
            </div>
		</div>
		
		
		<div class="reply_div fl clearFix">




		</div>
		
		
		
		
</div>
            <!--RightbarEnd-->

        <div class="sep20"></div>
        <div class="sep20"></div>

    <div id="Bottom">
        <div class="content">
            <div class="inner">
                <div class="sep10"></div>    
                    
                <div class="sep10"></div>
            </div>
        </div>
    </div>
    
</body>
</html>